*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2'),
        url('./fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
        url('./fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.logo{
    margin: 30px 16px;
    img{
        height: 32px;
        object-fit: contain;
    }
}
.container-fluid{
    background-color: rgba(104, 75, 177, 1);
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;


}
.image1{
    width: 100%;
    height: 487px;
    object-fit: contain;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.text-box{
    h2{
        font-size: 40px;
        line-height: 60px;
        font-weight: 600;
        color: #fff;
    }
    p{
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: #fff;
        margin-top: 24px;
        font-family: 'Open Sans';
    }
}
.button{
    width: 200px;
    height: 56px;
    border-radius: 28px;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    transition: 0.5s;
    a{
        color: #684BB1;
        font-size: 18px;
        line-height: 27px;
        text-decoration: none;
        transition: 0.5s;
    }
}
.button:hover{
    background-color: #E880E8;
    cursor: pointer;
    a{
        color: #fff;
        text-decoration: none;
    }
}
.social-networks{
       display: flex;
       justify-content: flex-end;
       margin: 30px 0;

    .network{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.18px solid #FFFFFF;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        transition: 0.5s;

        &:not(:last-child){
            margin-right: 15px;
        }
        svg{
            transition: 0.5s;
        }
    }
    
}
.network:hover{
    border: 1.18px solid #FF52C1;
    cursor: pointer;
    svg{
        fill: #FF52C1;
    }
}
@media only screen and (max-width: 992px) {
       .container-fluid{
        background-image: none;
        background-image: url(./images/bg-mobile.svg);
       }
       .image1{
        height: 35%;
       }
       .text-box{
        text-align: center;
        h2{
            font-size: 24px;
            line-height: 36px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
        }
       }
       .button{
        margin: 24px auto;
        width: 200px;
        height: 40px;
        border-radius: 20px;

       }
       .social-networks{
        justify-content: center;
        margin: 15px 0;
        .network{
            width: 30px;
            height: 30px;
        }
        svg{
            width: 20px;
           }
       }
  }